# compiled output
dist/
tmp/
out-tsc/

# dependencies
node_modules/
jspm_packages/

# Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace
*.code-workspace

# IDE specific files
.vscode/
.vscode-test/

# Miscellaneous
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# TypeScript specific
*.tsbuildinfo

# Angular specific
.angular
